/*=============================================
          _main-heading.scss
================================================*/
@use './../abstracts' as abs;


.main-heading {
  font-family: abs.$font-dancing-script;
  font-size: 100px;
  font-weight: 300;
  color: abs.$color-primary;
  margin-bottom: 40px;


  @include abs.responsive-max-width(1600px) {
    font-size: 80px;
    margin-bottom: 24px;
  }

  @include abs.responsive-max-width(1000px) {
    font-size: 60px;

  }

  @include abs.responsive-max-width(500px) {
    font-size: 40px;
    margin-bottom: 20px;
  }

}

.sub-heading {
  font-family: abs.$font-josefin-sans;
  font-size: 60px;
  font-weight: 300;
  color: abs.$color-secondary;
  margin-bottom: 80px;
  text-align: center;

  @include abs.responsive-max-width(1600px) {
    font-size: 50px;
    margin-bottom: 32px;
  }

  @include abs.responsive-max-width(1300px) {
    font-size: 40px;
    margin-bottom: 24px;

  }

  @include abs.responsive-max-width(1000px) {
    font-size: 30px;

  }

  @include abs.responsive-max-width(500px) {
    font-size: 20px;
    margin-bottom: 10px;

  }

}

.main-btn {
  @include abs.button-default();
  @include abs.background-transition-basic(transparent, abs.$color-primary);

  @include abs.responsive-max-width(800px) {
    width: 144px;
    height: 32px;
    font-size: 12px;
  }

  @include abs.responsive-max-width(500px) {
    width: 128px;
    height: 24px;
    font-size: 8px;
  }

}