/*=============================================
            _navbar.scss
================================================*/
@use './../abstracts' as abs;

.navbar {
  position: relative;
  z-index: 200;

  &-navigation {
    display: flex;

    &-left {
      position: fixed;
      width: 50vw;
      height: 100vh;
      background-color: abs.$color-black-dark;
      left: -50vw;
      transition: left .8s cubic-bezier(1, 0, 0, 1);

      .left-img {
        position: absolute;
        width: 50%;
        box-shadow: 0 15px 60px rgba(abs.$color-black-dark, .4);
        opacity: .7;
        border-radius: 8px;
      }

      .left-img-1 {
        top: 15%;
        left: 15%;


      }

      .left-img-2 {
        top: 35%;
        left: 25%;


      }

      .left-img-3 {
        top: 55%;
        left: 35%;


      }
    }

    &-right {
      position: fixed;
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      right: -50vw;
      @include abs.flex-center;
      transition: right .8s cubic-bezier(1, 0, 0, 1);


    }

    .nav-list {

      &-item {
        list-style: none;
      }

      &-link {
        @include abs.anchor-underline-hover-effect(abs.$color-white);
        margin: 8px;
        font-family: abs.$font-dancing-script;
        font-size: 48px;
        &::before {
          background-color: abs.$color-primary;
        }
        &:hover {
          color: abs.$color-primary;
        }

      }


    }


  }
}


.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .menu-button .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .menu-button .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .menu-button .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .menu-button .menu-line-3 {
  transform: rotateZ(40deg);
}